extends ../layout

block content
	.container
		h1 Retrieve Honeypot Records
		hr
		form#frm-build-query.form-horizontal(role='form')
			h4 Construct query by:
			label.radio-inline
			input#QueryMethod(checked='checked', data-val='FIELDS', name='query_method', value='FIELDS', type='radio')
			| Filling in fields
			label.radio-inline
			input#QueryMethod(data-val='FREEFORM', name='query_method', value='FREEFORM', type='radio')
			| Typing free-form query string

			

			.row
				.col-sm-6
					.control-group
						label.control-label(for='select_doc_type') Record Type:
						.controls
							select#select_doc_type(name='select_doc_type')
								option(value='attempt', label='Intrusion Attempts') Intrusion Attempts
								option(value='sessionlogentry', label='Session Log Entries') Session Log Entries
								option(value='sessionrecording', label='Session Recordings') Session Recordings
								option(value='sessiondownload', label='Session File Downloads') Session File Downloads
					include query_by_click
					include freeform_query
					br
					.control-group
						label.control-label(for='txt-num_to_fetch') Number of Records (default=10)
						.controls
							input#txt-num_to_fetch(type='text')
				.col-sm-6
					include date_range
					include field_checkboxes
					
					
					br
					br
					button#btn-execute-query.btn.btn-primary(type='button') Retrieve CSV
				// end of date/fields column
			// end div row				
			.col-sm-6
	script(src='/js/build_query.js')		