h3 Date Range
	.checkbox
		label
			input#chk-any-start_date(type='checkbox')
			| Any Start Date
			input#dt-start_date(type='datetime', value='2015-03-01T00:00:01Z')
		br
		label
			input#chk-any-end_date(type='checkbox')
			| Any End Date
			input#dt-end_date(type='datetime', value='2015-04-01T00:00:01Z')