div#freeform-query-controls
	#div-enter-query-text
		.control-group
			label.control-label(for='txt-freeform-query') Query String
			.controls
				textarea#txt-freeform-query(rows="5")
				br
				p <a href="../help" target="_blank">Help with query syntax</a>
				p
				
				
		
