extends layout


block content
	div(class="#{nav_class}")
	.container
		h2 Welcome to Perspex.
		h3 What would you like to do?
			ul
				li <a href="/admin/admin_home">Administer the system</a>
				li <a href="/data/build_query">See my data!</a>
  
  
  
  
  
  
  
  
  
