extends layout

block content
  .container
    h2 Perspex Administration
    hr
    ul
      li <a href="#">Add a user</a>
      li <a href="#">Update a user\'s information</a>
      li <a href="#">Delete a user</a> 
      